# Source Postgres (données CHU)
SOURCE_POSTGRES_HOST=localhost
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_DB=chu_source
SOURCE_POSTGRES_USER=chu_user
SOURCE_POSTGRES_PASSWORD=changeme

# DWH Postgres
DWH_POSTGRES_HOST=localhost
DWH_POSTGRES_PORT=5433
DWH_POSTGRES_DB=chu_dwh
DWH_POSTGRES_USER=dwh_user
DWH_POSTGRES_PASSWORD=changeme

# Paths
DUCKDB_PATH=data/duckdb/staging.duckdb
CSV_PATH=data/csv